* {
    font-family: "Tilt Neon", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFEBD8;
}

.flex  {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
}